<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="DEFAULT_PU" transaction-type="JTA">
    <jta-data-source>jdbc/sample</jta-data-source>
    <class>com.jpamodeler.entitygraph.Movie</class>
    <class>com.jpamodeler.entitygraph.MovieActor</class>
    <class>com.jpamodeler.entitygraph.MovieActorAward</class>
    <class>com.jpamodeler.entitygraph.MovieAward</class>
    <class>com.jpamodeler.entitygraph.MovieDirector</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.sql-load-script-source" value="load.sql"/>
      <property name="javax.persistence.schema-generation.drop-script-source" value="drop.sql"/>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
      <property name="eclipselink.logging.level" value="ALL"/>
    </properties>
  </persistence-unit>
</persistence>
