<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="DEFAULT_PU" transaction-type="JTA">
    <jta-data-source>Sample_DB_JNDI</jta-data-source>
    <class>com.test.Entity_1</class>
    <class>com.test.Entity_2</class>
    <class>com.test.Entity_3</class>
    <class>com.test.ParentEntity</class>
    <class>Entity_3</class>
    <class>ParentEntity</class>
    <class>.Entity_2</class>
    <class>.Entity_1</class>
    <class>Movie</class>
    <class>MovieActor</class>
    <class>MovieActorAward</class>
    <class>MovieAward</class>
    <class>MovieDirector</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
      <property name="eclipselink.logging.level" value="FINE"/>
    </properties>
  </persistence-unit>
</persistence>
